<div class="container">
  <div class="alert alert-warning door" data-id="1">
  <a href="#" class="alert-link">What's behind door number one?</a>
  </div>
  <div class="activity-detail" data-id="1">
    <h2 class="hint">Don't forget your socks!</h2>
  </div>
  <div class="alert alert-warning door" data-id="2">
  <a href="#" class="alert-link">What's behind door number two?</a>
  </div>
  <div class="activity-detail" data-id="2">
    <h2 class="hint">Don't forget your socks!</h2>
  </div>
  <div class="alert alert-warning door" data-id="3">
  <a href="#" class="alert-link">What's behind door number three?</a>
  </div>
  <div class="activity-detail" data-id="3">
    <h2 class="hint">Don't forget your socks!</h2>
  </div>
</div>