<div class="container">

  <div class="alert alert-warning door" data-id="1">
    <a href="#" class="alert-link">What's behind door number one?</a>
  </div>

  <div class="panel panel-success activity-detail" data-id="1">
    <div class="panel-heading">
      <h3>Your Sunday activity is ... meters away from you right now</h3>
      <h3>Put on your socks and sneakers! Adventure awaits.</h3>
      <h3 class="panel-title hint">Don't forget your socks!</h3>
      <p>
        <a href="#" class="btn btn-primary button complete" role="button">Yes! Checking in my location now!</a>
      </p>
    </div>
  </div>

  <div class="alert alert-warning door" data-id="2">
    <a href="#" class="alert-link">What's behind door number two?</a>
  </div>

  <div class="panel panel-success activity-detail" data-id="2">
    <div class="panel-heading">
      <h3>Your Sunday activity is ... meters away from you right now</h3>
      <h3>Put on your socks and sneakers! Adventure awaits.</h3>
      <h3 class="panel-title hint">Don't forget your socks!</h3>
      <p>
        <a href="#" class="btn btn-primary button complete" role="button">Yes</a> <a href="#" class="btn btn-default" role="button">Checking in my location now!</a>
      </p>
    </div>
  </div>

  <div class="alert alert-warning door" data-id="3">
    <a href="#" class="alert-link">What's behind door number three?</a>
  </div>

  <div class="panel panel-success activity-detail" data-id="3">
    <div class="panel-heading">
      <h3>Your Sunday activity is ... meters away from you right now</h3>
      <h3>Put on your socks and sneakers! Adventure awaits.</h3>
      <h3 class="panel-title hint">Don't forget your socks!</h3>
      <p>
        <a href="#" class="btn btn-primary button complete" role="button">Yes</a> <a href="#" class="btn btn-default" role="button">Checking in my location now!</a>
      </p>

    </div>
  </div>
</div>
