<div class="container">
  <div class="alert alert-warning door">
  <a href="#" class="alert-link">What's behind door number one?</a>
  </div>
  <div class="alert alert-warning door">
  <a href="#" class="alert-link">What's behind door number two?</a>
  </div>
  <div class="alert alert-warning door">
  <a href="#" class="alert-link">What's behind door number three?</a>
  </div>
</div>