<div class="container blurby">
<h2>When you don't know what to do today,</h2>
<h2> Simply click one of the three "doors" below and behold!</h2>
<h1>Your day just got a lot better.</h1>
<h2>You're welcome.</h2>
<h4>To select the adventure shown, click it again. If you want a different one, click another door.

<br>

<strong>Warning:</strong> once you've clicked all three, you HAVE to complete the last adventure before you can see more!</h4>
<h6>Make sure your phone is charged!</h6>
</div>

