.door {
  text-align: center;
}

html, body {
  height: 100%;
}

body {
  background-image: url("https://img0.etsystatic.com/032/0/8426444/il_340x270.547870318_fgmw.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 0;
  background-color: #0064B9;
  background-position: bottom;
}

.activity-detail {
  display: none;
}